
.clear {
    background-color:red;
    color: blue;
    border: none;
    padding: 11px 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 9px;
  }
  
  .clear:hover {
    background-color: black;
  }
  
  .message {
    background-color:white;
    padding: 16px;
    margin-bottom: 11px;
    border: 2px solid green;
    border-radius: 4px;
    box-shadow: 0 2px 4px black;
  }
  