<form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title:</label>
      <input id="title" type="text" formControlName="title">
    </div>
    <div>
      <label for="description">Description:</label>
      <input id="description" type="text" formControlName="description">
    </div>
    <div>
      <label for="creator">Creator:</label>
      <input id="creator" type="text" formControlName="creator">
    </div>
    <div>
      <label for="imgURL">ImageURL:</label>
      <input id="imgURL" type="text" formControlName="imgURL">
    </div>
    <div>
      <label for="type">Type:</label>
      <input id="type" type="text" formControlName="type">
    </div>
    <div>
      <label for="tags">Tags:</label>
      <input id="tags" type="text" formControlName="tags">
    </div>
    <!-- Add other inputs as necessary -->
  
    <button type="submit" [disabled]="!contentForm.valid">Add Content</button>
  </form>
  