<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Check Movie Existence</button>

<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<section>
<h1>Empty</h1>
<app-content-card *ngFor="let contentItem of contentItems | filterContent: ''" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Action</h1>
<app-content-card *ngFor="let contentItem of contentItems | filterContent: 'Action'" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Fight</h1>
<app-content-card *ngFor="let contentItem of contentItems | filterContent: 'Fight'" [contentItem]="contentItem"></app-content-card>
</section>