<div class="content-card" [ngClass]="{
    'fight': contentItem.type === 'Fight',
    'action': contentItem.type === 'Action',
    'unspecified': !contentItem.type
  }">
  
  <img [src]="contentItem.imgURL" *ngIf="contentItem.imgURL; else defaultImage" alt="{{ contentItem.title }}" class="content-card-image" height="200px" width="150px">
  <ng-template #defaultImage>
    <img src="https://m.media-amazon.com/images/I/A1JVqNMI7UL._AC_UF1000,1000_QL80_.jpg" alt="this is the default image" height="200px" width="250px">
  </ng-template>
          <h2>{{ contentItem.title }}</h2>
          <p><strong>Description:</strong> {{ contentItem.description }}</p>
          <p><strong>Creator:</strong> {{ contentItem.creator }}</p>
          <p *ngIf="contentItem.type" appHoverAffect [effect]="'underline'"><strong>Type: </strong>{{ contentItem.type }}</p>
      <p *ngFor="let tag of contentItem.tags" appHoverAffect><strong>Tags:</strong>{{ tag }}</p>
      </div>